jupyter-book
sphinxcontrib-youtube
sphinx_inline_tabs
ghp-import
seaborn
matplotlib
numpy
git+https://github.com/pantelis-classes/PRML.git#egg=prml
plotly
ipywidgets
kaleido
dash
pandas
jupyter
jupyterlab
jupyter-dash
tensorflow
pyppeteer
sphinxcontrib-svg2pdfconverter
sphinx_click
sphinx_inline_tabs
sphinxext.rediraffe
sphinx_proof
sphinx_examples
