# --------- docs --------- #
jupyter-book==0.15.1
sphinx-autobuild
sphinxcontrib-youtube
sphinxcontrib-bibtex
sphinx-proof
diagrams
filterpy
sphinxcontrib-svg2pdfconverter
transformers
datasets
accelerate
nvidia-ml-py3
unified-planning[enghines, plot]
# https://raw.githubusercontent.com/ultralytics/yolov5/master/requirements.txt


# ipywidgets
# 
# sphinx-inline-tabs
# sphinxext-rediraffe
# sphinx-panels
# sphinxcontrib-mermaid
# sphinxcontrib-seqdiag

# --------- docs --------- #

