sphinx
jupyter-book
sphinx-autobuild
sphinxcontrib-youtube
sphinxcontrib-bibtex
sphinxcontrib-svg2pdfconverter
sphinx-proof
sphinx-inline-tabs
sphinxext-rediraffe
sphinx-panels
sphinxcontrib-mermaid
sphinxcontrib-seqdiag
sphinx-click
sphinx-examples
unified-planning
unified-planning[engines, plot]
bertviz
marimo
ipywidgets
optuna
pydantic
filterpy
transformers
datasets
accelerate
nvidia-ml-py3
pygobject
seaborn
tabulate
pre-commit
