
-e git+https://github.com/pantelis-classes/PRML.git#egg=prml

unified-planning[engines, plot]

ipywidgets
pre-commit

optuna
pydantic

filterpy

bertviz
transformers
datasets
accelerate

pygobject
seaborn
tabulate

segment-geospatial
groundingdino-py 
segment-anything-fast
opencv-python==4.9.0.80